.cabecalho {
    background: #040912;
    width: calc (100vw - 12%);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .1rem 0 .1rem 0;
}

.cabecalho__logo {
    margin: .80rem .50rem 1rem .50rem;
    width: 160px;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__itens {
    display: none;
    padding: .50rem 0 0 0;

    color: #fefefe;
    text-shadow: 0 0px 3px #FEFEFE;
}


@media screen and (min-width: 1024px) {
    .cabecalho {
        width: 100%;

        flex-direction: row;
        justify-content: space-around; 
        position: fixed;
    }

    .cabecalho__itens {
        display: inline-block;
        padding: 0.5rem;
    }

    .cabecalho__itens:hover {
        transform: scale(1.1);
        transition: 400ms;
        cursor: pointer;
        text-shadow: 0 1px 4px #FEFEFE;
    }
}

@media screen and (min-width: 1600px){

    .cabecalho__itens {
        font-size: 1.5rem;
    }

}