.contato {
    color: #fefefe;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem 1rem 1rem 1rem;
    padding-top:  7%;
}

.contato__box {
    margin-bottom: 1rem;
}

.contato__box--input {
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0.5rem 0.5rem;
    height: 3rem;
    width: 100%;
    text-align: left;
    max-width: 600px;
    margin: .50rem .50rem .50rem 0;
}

.contato__areaTexto {
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    max-width: 600px;
    margin-top: .50rem;
}

.contato__botao {
    width: 20%;
    max-width: 150px;
    border-radius: 5px;
    margin: 1rem 0 0 0;
}


@media screen and (min-width: 1024px) {
    .contato__box--label {
        font-size: 1.3rem;
    }

    .contato {
        padding-top: 10%;

    }

    .contato__botao {
        width: 30%;
        height: 2rem;
        max-width: 300px;
    }
}