.contato {
    color: #fefefe;

    width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 1rem 1rem 1rem 1rem;
}

.contato__input {
    text-align: left;

    width: 100%;
    max-width: 600px;
    margin: .50rem .50rem .50rem 0;
}

.contato__areaTexto {
    width: 100%;
    max-width: 600px;
    margin-top: .50rem;
}

.contato__botao {
    width: 20%;
    max-width: 150px;
    margin: 1rem 0 0 0;
}


@media screen and (min-width: 1024px) {
    .contato {
        padding-top: 10%;
        margin: 0 auto;
    }
}