.metodologia {
    background: #FEFEFE;
    width: calc (100vw - 12%);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;
}

.metodologia__card {
    background:#071224;
    width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 15px 20px #071224;

    color: #FEFEFE;
    text-align: center;
}

.metodologia__card--imagem {
    width: 80vw;
    padding: 1.5rem;
}

.metodologia__card--titulo {
    
    color: #019DFF;
    font-size:1.50rem;
    font-weight: 600;
    text-shadow: 0 0 6px #019DFF;
    padding: 0 0 1rem 0;
}

.metodologia__card--texto {
    padding: .50rem .75rem 1rem .75rem;
}

.metodologia__botao--contato {
    color: #019DFF;
    background-color: #040912;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0 0 6px #019DFF;
    box-shadow: 0 15px 20px #071224;
    

    display: block;

    width: 50%;
    max-width: 350px;

    box-sizing: border-box;

    padding: .50rem .75rem;
    margin-top: 1.5rem;

    border: 1px solid #040912;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {

    .metodologia{
        padding: 3rem 1.5rem;


    }
    .metodologia__card {

        flex-direction: row;
    }

    .metodologia__card--imagem {
        width: 40vw;
    }
    
}