.rodape {

    width: calc (100vw - 12%);

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.rodape__sociais {

    display: flex;
    padding: 1rem;
    
}

.rodape__sociais--instagram {
    width: 40px;
    padding-right: .50rem;
}

.rodape__sociais--email {
    width: 40px;
}


.rodape__fimDaPagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .50rem;
    
}

.rodape__logo {
    width: 100px;
    margin-bottom: .50rem;
}

.rodape__copyright {
    font-family: 'Courier New', Courier, monospace;
    color: #e1dfdf;
    font-size: .50rem;
}