.vantagens {

    background-image: linear-gradient(to bottom, #071224 0,#071224 30%, #FEFEFE 30%);
    width: calc (100vw - 12%);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.vantagens__titulo {
    color: #019DFF;
    font-family: 'Fredoka One', cursive;
    font-size: 1.25rem;
    text-shadow: 0 0 7px #019DFF;
    text-align: center;
    margin: 2rem 1rem .50rem 1rem;
}

.vantagens__itens {
    color: #FEFEFE;
    background: #040912;
    text-align: center;
    margin: 1.75rem auto;
    width: 85vw;
    border-radius: 6px;
    box-shadow: 0 15px 20px #071224;
}

.vantagens__itens--titulos {
    font-size: 1.15rem;
    padding: 1rem;
}

.vantagens__itens--imagens {
    width: 80vw;
}

.vantagens__itens--textos {
    padding: 1rem;
}

@media screen and (min-width: 1024px) {

    .vantagens {

        background-image: linear-gradient(to bottom, #071224 0,#071224 80%, #FEFEFE 30%);
        padding-top: 7%;

    }

    .vantagens__titulo {
        margin-bottom: 1.5rem;
    }

    .vantagens__lista {
        display: inline-flex;
    }

    .vantagens__itens{
        margin: .50rem;
        width: 30vw;
        height: 30%;
    
    }


    .vantagens__itens--imagens {
        width: 27vw;
    }
   

}

@media screen and (min-width: 1336px) {
    .vantagens__itens{
        height: 30vw;
    }

}