.cabecalho {
    align-items: center;
    color: #FEFEFE;
    background:  #040912;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    width: calc(100vw - 12%);
}

.cabecalho__logo {
    width: 150px;
}